* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(119, 119, 119);  
}

#header{
  font-size: 50px;  
  margin-left: 15px;
}

#container {  
  border: solid 3px black;    
  width: 50%;
}

label #email {
 margin-left: 3px;
}

div {
  margin: 15px;
}

.options {
  margin: 4px;  
}
textarea {
  resize: none;
}

#date {
  color:rgb(119, 119, 119);
}

button {
  padding: 8px 40px 8px 40px;
  color: rgb(70, 70, 70);
  border-radius: 10px;
  border: solid 1px rgb(88, 88, 88);
  margin:0 0 20px 20px;
  cursor: pointer;
}