* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;  
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

main p {
  font-size: 60px;
}

#btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(40, 131, 40);
  color: white;
}